<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<body>
	<footer class="blog-footer bg-inverse" th:fragment="footer">
		<div class="container">
			<p class="m-0 text-center text-white">
				@ xiaoyao <a href="https://xiaoyaozyq.github.io">xiaoyao</a>
			</p>
		</div>

		<!-- JavaScript -->
		<script src="../js/jquery.min.js"
			th:src="@{/js/jquery.min.js}"></script>
		<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	</footer>
</body>
</html>